<!DOCTYPE html>
<html>
 <body>
 <div id='Form_Inscription' align='center'>
 <h2>S'inscrire :</h2>
 {{ form(monFormulaire) }}
vous possedez deja un compte <a href="{{ path('social_connexion') }}">se connecter</a> 
 </div>

 </body>
</html>