<!DOCTYPE html>
<html>
 <body>
 <div id='Form_Inscription' align='center'>
 <h2>S'inscrire :</h2>
 {{ form(monFormulaire) }}
vous ne possedez pas de compte <a href="{{ path('social_accueil') }}">s'inscrire</a> 
 </div>

 </body>
</html>