<!DOCTYPE html>
<html>
 <body>
 <p>Bienvenue {{ user.username }}</p>
 

<p> <a href="{{ path('social_publier') }}">publier</a> </p>
<p> <a href="{{ path('social_deconnexion') }}">se déconnecter</a> </p>
 </body>
</html>